* {
  margin: 0;
  padding: 0;
}

:root {
  --color-highlight: #2196f3;
  --color-text: #212121;
  --color-description: #757575;
  --white: #ffffff;
  --black: #000000;
}

.header {
  padding: 25px 215px;
}

.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: var(--black);
  text-decoration: none;
}

.web {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: var(--color-highlight);
}

.navigation-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--color-text);
  text-decoration: none;
}

.navigation-link:hover,
.mail:hover,
.phone:hover {
  color: var(--color-highlight);
}

.navigation-link:focus,
.mail:focus,
.phone:focus {
  color: var(--color-highlight);
}

.mail,
.phone {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--color-description);
  text-decoration: none;
}

.hero {
  background-color: #2f303a;
  width: 1600px;
  height: 600px;
  margin: 0 auto;
  padding: 200px 0;
}

.title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 30px;
}

.button {
  background-color: var(--color-highlight);
  border: none;
  padding: 10px 32px;
  border-radius: 4px;
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--white);
  margin-left: 700px;
}

.advantages,
.examples {
  padding: 95px 215px;
}

.adv-hide {
  visibility: hidden;
}

.navigation-list,
.adv-list,
.example-list,
.team-list,
.footer-list {
  list-style-type: none;
}

.header,
.navigation-list,
.adv-list,
.example-list,
.team-list {
  display: flex;
}

.adv-h {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--color-text);
}

.adv-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-description);
}

.examples-h,
.team-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: var(--color-text);
  margin-bottom: 50px;
}

.examples-photo,
.team-photo {
  margin-bottom: 30px;
}

.team-name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: var(--color-text);
}

.team-despription {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: var(--color-description);
}

.footer {
  background-color: #2f303a;
  padding: 60px 0 60px 215px;
}

.logo-footer {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: var(--white);
  text-decoration: none;
  margin-bottom: 20px;
}

.map {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--white);
}

.mail-footer,
.phone-footer {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin-bottom: 10px;
}
