* {
  margin: 0;
  padding: 0;
}

:root {
  --color-highlight: #2196f3;
  --color-text: #212121;
  --color-description: #757575;
  --background-color: #2f303a;
  --color-button: #f5f4fa;
  --white: #ffffff;
  --black: #000000;
}

.header {
  padding: 25px 215px;
}

.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: var(--black);
  text-decoration: none;
}

.web {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: var(--color-highlight);
}

.navigation-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--color-text);
  text-decoration: none;
}

.navigation-link:hover,
.mail:hover,
.phone:hover {
  color: var(--color-highlight);
}

.navigation-link:focus,
.mail:focus,
.phone:focus {
  color: var(--color-highlight);
}

.mail,
.phone {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--color-description);
  text-decoration: none;
}

.navigation-list,
.footer-list {
  list-style-type: none;
}

.header,
.navigation-list {
  display: flex;
}

.navigation {
  padding: 95px 495px 35px 495px;
}

.navigation-title,
.examples-title {
  visibility: hidden;
}

.buttons {
  display: flex;
}

.buttons {
  display: flex;
  list-style-type: none;
}

.button {
  background-color: var(--color-button);
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  display: flex;
  color: var(--color-text);
}

.button:hover {
  background: var(--color-highlight);
  color: var(--white);
}

.examples {
  padding: 0 215px 94px 215px;
}

.examples-list {
  border: 1px solid #eeeeee;
}
.examples-lists {
  list-style: none;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.image-description {
  margin: 20px 25px;
}

.project-name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  color: var(--color-text);
}

.project-description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-description);
}

.footer {
  background-color: var(--background-color);
  padding: 60px 0 60px 215px;
}

.logo-footer {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: var(--white);
  text-decoration: none;
  margin-bottom: 20px;
}

.map {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--white);
}

.mail-footer,
.phone-footer {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin-bottom: 10px;
}
